.challengeLayoutContainer {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: hidden;

	.layoutContent {
		flex: 1;
		align-self: stretch;
		display: flex;
	}
}
