// ── Light Theme (default) ──────────────────────────────────
:root,
[data-theme="light"] {
	--color-bg-primary: #ffffff;
	--bell-color: #211f26;
	--bell-border: #bcbac7;
	--fire-background: #f2eff3;
	--fire-text-color: #000;

	--subHeader-bgColor: #fff;
	--subHeader-border: #f2eff3;
	--info-svg-color: #211f26;
	--seperator-color: #d9d6df;

	--fitness-parent-backgroundColor: #f7f6fc;

	--post-card-bgColor: #e6f6eb;
	--post-submission-text-color: #218358;
	--submissionCard-borderColor: #eae7ec;
	--submissionCard-backgroundColor: #fff;
	--user-name-color: #211f26;
	--time-color: #0400119c;
	--dot-bgcolor: #111;
	--group-bgColor: #30004010;
	--icon-border-color: #ded9e1;
    --feed-card-border: #eae7ec;
}

// ── Dark Theme ─────────────────────────────────────────────
[data-theme="dark"] {
	--color-bg-primary: #1a191b;
	--bell-border: #67646e;
	--bell-color: #fff;
	--fire-background: #2a292c;
	--fire-text-color: #fff;
	--subHeader-bgColor: #151518;
	--subHeader-border: #232225;
	--info-svg-color: #fff;
	--seperator-color: #3e3c42;

	--fitness-parent-backgroundColor: #030303;
	--post-card-bgColor: #132d21;
	--post-submission-text-color: #3dd68c;

	--submissionCard-borderColor: #2b292d;
	--submissionCard-backgroundColor: #1a191b;
	--user-name-color: #fff;
	--time-color: #f5f1ffb7;
	--dot-bgcolor: #fff;
	--group-bgColor: #2a292c;
	--icon-border-color: #403e43;
	--feed-card-border: #424046;
}
