// ── Light Theme (default) ──────────────────────────────────
:root,
[data-theme="light"] {
	--color-bg-primary: #ffffff;
	--bell-color: #211f26;
	--bell-border: #bcbac7;
	--fire-background: #f2eff3;
	--fire-text-color: #000;

	--subHeader-bgColor: #fff;
	--subHeader-border: #f2eff3;
	--info-svg-color: #211f26;
	--seperator-color: #d9d6df;
}

// ── Dark Theme ─────────────────────────────────────────────
[data-theme="dark"] {
	--color-bg-primary: #1a191b;
	--bell-border: #67646e;
	--bell-color: #fff;
	--fire-background: #2a292c;
	--fire-text-color: #fff;
	--subHeader-bgColor: #151518;
	--subHeader-border: #232225;
	--info-svg-color: #fff;
	--seperator-color: #3e3c42;
}
