.feedsWrapperContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 24px;
	padding: 16px 12px 12px 12px;
	gap: 8px;
	border: 1px solid var(--feed-card-border);
	background-color: var(--color-bg-primary);
	box-sizing: border-box;
	.feedWrapperHeading {
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		font-family: "Be Vietnam Pro", sans-serif;
		color: var(--user-name-color);
		letter-spacing: -0.008;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		.groupImage {
			width: 56px;
			height: 24px;
		}
	}
	.feedWrapperSubtext {
		text-align: center;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		font-family: "Be Vietnam Pro", sans-serif;
		color: var(--user-name-color);

		.feedWrapperHighlightSubtext {
			font-weight: 700;
		}
	}
}
