.fitnessContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--fitness-parent-backgroundColor);
	min-height: 0;
	overflow: hidden;
	box-sizing: border-box;

	.fitnessContentParentContainer {
		display: flex;
		width: 100%;
		flex: 1;
		align-self: stretch;
		min-height: 0;
		overflow: hidden;

		.contentContainer {
			flex: 1;
			align-self: stretch;
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			min-height: 0;
			align-items: center;
			padding: 24px;
			.contentWithMaxWidth {
				max-width: 640px;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
		}
	}
}

@media (max-width: 799px) {
	.fitnessContainer {
		.fitnessContentParentContainer {
			flex-direction: column;
			.contentContainer {
				padding: 24px 8px;
			}
		}
	}
}
