.sidebarContainer {
	max-width: 258px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	padding: 16px 0px 24px 8px;
	.specialtab {
		height: 56px;
		width: 100%;
		background: linear-gradient(180deg, #fff, transparent);
		position: relative;
	}
	.backgroundOverlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, #fdfcfd4d, #f7f6fccc);
		backdrop-filter: blur(50px);
	}
	.daysContainer {
		display: flex;
		flex-direction: column;
		gap: 12px;
		position: relative;

		.daysTab {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 16px;
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			font-family: "Be Vietnam Pro", sans-serif;
			color: #0400119c;
			cursor: pointer;
			border-radius: 16px;
		}
		.daysTab.activeDay {
			background-color: #f7f6fc;
			border-top-left-radius: 24px;
			border-bottom-left-radius: 24px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			position: relative;
			z-index: 1;
		}
		/* Top curve */
		.daysTab.activeDay::before {
			content: "";
			position: absolute;
			top: -24px;
			right: 0;
			width: 24px;
			height: 24px;
			background: #f7f6fc;
			mask: radial-gradient(circle 24px at 0 0, transparent 100%, #f7f6fc);
		}

		/* Bottom curve */
		.daysTab.activeDay::after {
			content: "";
			position: absolute;
			bottom: -24px;
			right: 0;
			width: 24px;
			height: 24px;
			background: #f7f6fc;
			mask: radial-gradient(circle 24px at 0 100%, transparent 100%, #f7f6fc);
		}
	}
}
.mobileNavigationContainer {
	display: none;
	flex-direction: column;
	width: 100%;
	background-position: center;
	box-sizing: border-box;
	background-size: cover;

	.mobileTopHeadingContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px;

		.leftContainer {
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: 18px;
			line-height: 26px;
			font-weight: 600;
			font-family: "Be Vietnam Pro", sans-serif;
			color: #211f26;
		}

		.iHolder {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			background-color: #b8adae;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.mobileDaysContainer {
		display: flex;
		padding: 8px 12px;
		padding-bottom: 0px;
		gap: 8px;
		overflow-x: auto;
		overflow-y: hidden;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
		-ms-overflow-style: none;

		&::-webkit-scrollbar {
			display: none;
		}

		.mobileDaysTab {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 56px;
			height: 68px;
			flex-shrink: 0;
			align-items: center;
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			font-family: "Be Vietnam Pro", sans-serif;
			color: #211f26;
			padding-top: 8px;
			cursor: pointer;

			.activeDayText {
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
			}
		}
		.mobileDaysTab.firstMobileTab {
			margin-left: 50%;
		}
		.mobileDaysTab.activeDay {
			border-top-left-radius: 24px;
			border-top-right-radius: 24px;
			background-color: #f7f6fc;
			position: relative;
			z-index: 1;
		}

		.mobileDaysTab.activeDay::before {
			content: "";
			position: absolute;
			bottom: 0px;
			left: -24px;
			width: 24px;
			height: 24px;
			background: #f7f6fc;
			mask: radial-gradient(circle 24px at 0 0, transparent 100%, #f7f6fc);
		}

		/* Bottom curve */
		.mobileDaysTab.activeDay::after {
			content: "";
			position: absolute;
			bottom: 0px;
			right: -24px;
			width: 24px;
			height: 24px;
			background: #f7f6fc;
			mask: radial-gradient(circle 24px at 100% 0, transparent 100%, #f7f6fc);
		}
	}
}

@media (max-width: 799px) {
	.sidebarContainer {
		display: none;
	}
	.mobileNavigationContainer {
		display: flex;
	}
}
