.subHeaderParentContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 56px;
	border-bottom: 1px solid var(--subHeader-border);
	padding: 0px 24px 0px 18px;
	box-sizing: border-box;
	background-color: var(--subHeader-bgColor);
	.leftContainer {
		display: flex;
		align-items: center;
		gap: 16px;

		.seperator {
			width: 1px;
			height: 24px;
			background-color: #d9d6df;
			color: var(--seperator-color);
		}

		.dayText {
			font-size: 18x;
			line-height: 26px;
			font-weight: 600;
			font-family: "Be Vietnam Pro", sans-serif;
			color: var(--fire-text-color);
		}
	}
	.rightContainer {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		font-family: "Be Vietnam Pro", sans-serif;
		color: var(--fire-text-color);
		svg path {
			fill: var(--info-svg-color);
		}
	}
}
@media (max-width: 799px) {
	.subHeaderParentContainer {
		display: none;
	}
}
